@model Nop.Web.Areas.Admin.Models.Education.CourseModel

@{
    const string hideInfoBlockAttributeName = "CourseDetailsPage.HideInfoBlock";
    var customer = await workContext.GetCurrentCustomerAsync();
    var hideInfoBlock = await genericAttributeService.GetAttributeAsync<bool>(customer, hideInfoBlockAttributeName);
}

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <nop-cards id="course-details-cards">
                <nop-card asp-name="course-info" asp-icon="fas fa-info" asp-title="@T("Admin.Courses.Info")" asp-hide-block-attribute-name="@hideInfoBlockAttributeName" asp-hide="@hideInfoBlock" asp-advanced="false">@await Html.PartialAsync("_CreateOrUpdate.Info", Model)</nop-card>
                <nop-card asp-name="course-sections" asp-icon="fas fa-info" asp-title="@T("Admin.Courses.Sections")" asp-hide-block-attribute-name="@hideInfoBlockAttributeName" asp-hide="@hideInfoBlock" asp-advanced="false">@await Html.PartialAsync("_CreateOrUpdate.Section", Model)</nop-card>
            </nop-cards>
        </div>
    </div>
</section>