@using Nop.Web.Areas.Admin.Models.Corporations
@model Nop.Web.Areas.Admin.Models.Corporations.FacultySearchModel
@{
    //page title
    ViewBag.PageTitle = T("Admin.Corporations.Faculties").Text;
   
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("Faculties");

    const string hideSearchBlockAttributeName = "FacultiesPage.HideSearchBlock";
    var hideSearchBlock = await genericAttributeService.GetAttributeAsync<bool>(await workContext.GetCurrentCustomerAsync(), hideSearchBlockAttributeName);
}
<div class="content-header clearfix">
    <h1 class="float-left">
        @T("Admin.Corporations.Faculties")
    </h1>
    <div class="float-right">
        <form asp-controller="Faculty" asp-action="DeleteAll">
            
            <a asp-action="ExportExcel" class="btn btn-success">
                <i class="fas fa-download"></i>
                @T("Admin.Common.Export")
            </a>
            <button type="button" name="importexcel" class="btn bg-warning" data-toggle="modal" data-target="#importexcel-window">
                <i class="fas fa-upload"></i>
                @T("Admin.Common.Import")
            </button>
            <button type="submit" id="delete-all" class="btn btn-danger">
                <i class="far fa-trash-alt"></i>
                @T("Admin.System.QueuedEmails.DeleteAll")
            </button>
        </form>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="cards-group">
                <div class="card card-default card-search">
                    <div class="card-body">
                        <div class="row search-row @(!hideSearchBlock ? "opened" : "")" data-hideAttribute="@hideSearchBlockAttributeName">
                            <div class="search-text">@T("Admin.Common.Search")</div>
                            <div class="icon-search"><i class="fas fa-search" aria-hidden="true"></i></div>
                            <div class="icon-collapse"><i class="far fa-angle-@(!hideSearchBlock ? "up" : "down")" aria-hidden="true"></i></div>
                        </div>

                        <div class="search-body @(hideSearchBlock ? "closed" : "")">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <nop-label asp-for="Name" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="Name" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <nop-label asp-for="ShowOnlyWithoutDepartment" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="ShowOnlyWithoutDepartment" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8 offset-md-4">
                                    <button type="button" id="search-faculties" class="btn btn-primary btn-search">
                                        <i class="fas fa-search"></i>
                                        @T("Admin.Common.Search")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card card-default">
                    <div class="card-body" id="faculties-area">
                        @await Html.PartialAsync("Table", new DataTablesModel
                        {
                            Name = "faculties-grid",
                            RowIdBasedOnField = nameof(FacultyModel.Id.ToString),
                            UrlRead = new DataUrl("List", "Faculty", null),
                            SearchButtonId = "search-faculties",
                            Length = Model.PageSize,
                            LengthMenu = Model.AvailablePageSizes,
                            Filters = new List<FilterParameter>
                            {
                                new FilterParameter(nameof(Model.Name)),
                                new FilterParameter(nameof(Model.ShowOnlyWithoutDepartment), typeof(bool)),

                            },
                            ColumnCollection = new List<ColumnProperty>
                            {
                                new ColumnProperty(nameof(FacultyModel.Name))
                                {
                                    Title = T("Admin.Corporations.Faculties.Fields.Name").Text,
                                    Width = "250",
                                    ClassName = NopColumnClassDefaults.CenterAll
                                },
                                new ColumnProperty(nameof(FacultyModel.DepartmentCount))
                                {
                                    Title = T("Admin.Corporations.Faculties.Fields.DepartmentCount").Text,
                                    Width = "150",
                                    ClassName = NopColumnClassDefaults.CenterAll
                                },
                                new ColumnProperty(nameof(FacultyModel.Description))
                                {
                                    Title = T("Admin.Corporations.Faculties.Fields.Description").Text
                                },
                                new ColumnProperty(nameof(FacultyModel.Id))
                                {
                                    Title = T("Admin.Common.Edit").Text,
                                    Width = "100",
                                    ClassName = NopColumnClassDefaults.Button + " column-edit",
                                    Render = new RenderButtonEdit(new DataUrl("Edit"))
                                }
                            }
                        })
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div id="importexcel-window" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="importexcel-window-title">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="importexcel-window-title">@T("Admin.Common.ImportFromExcel")</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>                                
            </div>
            <form asp-controller="Faculty" asp-action="ImportFromExcel" method="post" enctype="multipart/form-data">
                <div class="form-horizontal">
                    <div class="modal-body">
                        <ul class="common-list">
                            <li>
                                <em>You can perform the import operation with a format like the example excel table below. Pay attention to data formats and column names.</em>
                            </li>
                            <li style="text-align: center; margin-top: 10px">
                                <a asp-action="DownloadSampleExcel" class="btn btn-success">
                                    <i class="fas fa-download"></i>
                                    Download Sample Excel File
                                </a>
                            </li>
                        </ul>
                        <div class="form-group row">
                            <div class="col-md-2">
                                <div class="label-wrapper">
                                    <label class="col-form-label">
                                        @T("Admin.Common.ExcelFile")
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <input type="file" id="importexcelfile" name="importexcelfile" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">
                            @T("Admin.Common.ImportFromExcel")
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
